In [ ]:
# 51. Write a Python program to determine profiling of Python programs

import cProfile

name = ["imran", "abdul", "shaik"]

name.sort(key=lambda x: x[-1])

cProfile.run('name')

name

         3 function calls in 0.000 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

['shaik', 'abdul', 'imran']

In [ ]:
# 52. Write a Python program to sum of the first n positive integers.

# def sum_n(num):
#     sum_val = 0
#     # map(lambda x: )
#     for i in range(num+1):
#         sum_val += i

#     return f"Sum of the first {num} positive integers: {sum_val}"

# sum_n(12)

################# OR ##################

n = int(input("Input a number: "))
sum_num = (n * (n + 1)) / 2
print("Sum of the first", n ,"positive integers:", sum_num)

Input a number: 11
Sum of the first 11 positive integers: 66.0

In [ ]:
# 53. Write a Python program to convert height (in feet and inches) to centimeters

in_feets = float(input("Enter your height in feets: "))
in_inches = float(input("Enter your height in inches: "))

in_cms = 30.48 * in_feets + in_inches * 2.54


print(f"The height of {in_feets} feets and {in_inches} inches is {round(in_cms)} cms")

Enter your height in feets: 5
Enter your height in inches: 3
The height of 5.0 feets and 3.0 inches is 160 cms

In [ ]:
# 54. Write a Python program to calculate the hypotenuse of a right angled triangle

import math

def hypotenuse():

    a = float(input("Enter a's value: "))
    b = float(input("Enter b's value: "))
    hypotenuse = math.sqrt(a**2 + b**2)
    return hypotenuse

hypotenuse()

Enter a value: 4
Enter b value: 3

5.0

In [ ]:
# 55. Write a Python program to convert the distance (in feet) to inches, yards, and miles.

def distance():
    distance = float(input("Enter the distance in (feets): "))

    inches = distance * 12  # 12 inces is 1 feet
    yards = distance / 3   # 3 feets is in yard
    miles = distance / 5280

    return f" the distance of {distance} in feets is {inches} in inches, {yards} in yards, {miles} in miles "

distance()

Enter the distance in (feets): 100

' the distance of 100.0 in feets is 1200.0 in inches, 33.333333333333336 in yards, 0.01893939393939394 in miles '

In [ ]:
# 56. Write a Python program to convert all units of time into seconds

def time_secs():

    days = int(input("Enter time in days: ")) * 24 * 60 * 60
    hours = int(input("Enter time in hours: ")) * 60 * 60
    mins = int(input("Enter time in mins: ")) * 60
    secs = int(input("Enter time in secs: "))
    time_insecs = days + hours + mins + secs

    return f"Total time in secs is {time_insecs}" 

time_secs()

Enter time in days: 28
Enter time in hours: 6
Enter time in mins: 28
Enter time in secs: 36

'Total time in secs is 2442516'

In [ ]:
# 57. Write a Python program to convert seconds to day, hour, minutes and seconds

def secs_time():
    secs = int(input("Enter secs value: "))

    mins = secs / 60
    hour = mins / 60
    days = hour / 24
    return f" For {secs} secs {mins} mins, {hour} hours, and {days} days "

secs_time()

Enter secs value: 12697

' For 12697 secs 211.61666666666667 mins, 3.5269444444444447 hours, and 0.14695601851851853 days '

In [ ]:
# 58. Write a Python program to get an absolute file path.

def absolute_file_path(path_fname):
        import os
        return os.path.abspath('path_fname')        
print("Absolute file path: ",absolute_file_path("test.txt"))

Absolute file path:  /content/path_fname

In [ ]:
# 59. Write a program to calculate the sum of series up to n term. 
# For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

num = int(input("What is the series range? "))
repeat = input("Enter the value you want a total of: ")
total = 0

for i in range(1, num+1):
    total += int(repeat * i)

print(f"The total of number {repeat} series for {num} times is: {total}")

What is the series range? 5
Enter the value you want a total of: 2
The total of number 2 series for 5 times is: 24690

In [ ]:
# 60. Write a Python program to calculate body mass index
# BMI = W(kgs)/H**2(mts)

def bmi_calculator():
    height_mts = float(input("Enter your height in meters: "))
    weight_kgs = float(input("Enter your weight in kgs: "))

    bmi = weight_kgs / height_mts ** 2
    return bmi

bmi_calculator()

Enter your height in meters: 1.58
Enter your weight in kgs: 52

20.82999519307803

In [ ]:
# 61. Write a Python program to convert pressure in kilopascals to pounds per
# square inch, a millimeter of mercury (mmHg) and atmosphere pressure

pressure_kp = float(input("Enter pressure in kps: "))

ppsi = pressure_kp / 6.895
mmHg = pressure_kp * 7.501
ap = pressure_kp / 101.3
print(mmHg)

Enter pressure in kps: 1
7.501

In [ ]:
# 62. Write a sorting method

lst = [1,6,7,2,3,4,8,9,15,11,10,13,14,12]


for i in range(len(lst)):
    # print("i---> ",i)
    for j in range(i+1, len(lst)):
        # print("j---> ",j)
        if lst[i] >= lst[j]:
            # print(lst[i], lst[j])
            lst[i], lst[j] = lst[j], lst[i]


print(lst)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
# 63. Write a Python program to calculate sum of digits of a number.

num = input("Enter a number: ")
sum = 0
for i in num:
    sum += int(i)
print(sum)

Enter a number: 5245
16

In [ ]:
# 64. Write a Python program to sort three integers without using conditional statements and loops.

n1 = 8
n2 = 4
n3 = 9

max_val = max(n1,n2,n3)
min_val = min(n1,n2,n3)
mid_val = (n1 + n2 + n3) - min_val - max_val

print(min_val, mid_val, max_val)

4 8 9

In [ ]:
# 65. Write a Python program to get the details of math module.

import math

v = dir(math)

for i in v:
  print(i)

__doc__
__loader__
__name__
__package__
__spec__
acos
acosh
asin
asinh
atan
atan2
atanh
ceil
comb
copysign
cos
cosh
degrees
dist
e
erf
erfc
exp
expm1
fabs
factorial
floor
fmod
frexp
fsum
gamma
gcd
hypot
inf
isclose
isfinite
isinf
isnan
isqrt
ldexp
lgamma
log
log10
log1p
log2
modf
nan
perm
pi
pow
prod
radians
remainder
sin
sinh
sqrt
tan
tanh
tau
trunc

In [ ]:
# 66. Write a Python program to calculate midpoints of a line. 


a = float(input("Enter start value: "))
b = float(input("Enter end value: "))

mid = a + b / 2

print("midpoint is", mid)

Enter start value: 3
Enter end value: 99
midpoint is 52.5

In [ ]:
# 67. Write a Python program to get the size of an object in bytes.

import sys

name = "imran"

rollno = 66

print(f" {sys.getsizeof(name)} bytes for {name}")
print(f" {sys.getsizeof(rollno)} bytes for {rollno}")

 54 bytes for imran
 28 bytes for 66

In [ ]:
# 68. Write a Python program to test whether all numbers of a list is greater than a certain number


lst = [5,9,11,66,74,99,124]

num1 = 64
num2 = 4

print(all(i > num2 for i in lst))

True

In [ ]:
# 69. Write a Python program to count the number occurrence of a specific character in a string.

val = "hello my name is imran abdul and i am learning python language"
count_val = input("Enter an alphabet to count its oocurance: ")

print(count_val, val.count(count_val))

Enter an alphabet to count its oocurance: l
l 5

In [ ]:
# 70. Write a Python program to get the ASCII value of a character

character = input("Enter a character: ")

print(ord(character), character)

Enter a character: a
97 a

In [ ]:
# 71. Write a Python program to perform an action if a condition is true.
# Given a variable name, if the value is 1, display the string "First day of a Month!"
# and do nothing if the value is not equal.

var_name = int(input("Enter a month number between 1 to 12: "))

if var_name  == 1:
    print("First day of a month")

Enter a month number between 1 to 12: 1
First day of a month

In [ ]:
# 72. Write a Python program to create a copy of its own source code


def file_copy(src, des):

    with open(src) as s, open(des) as d:
        d.write(s.read())

file_copy("imran.py", "abdul.py")

with open('imran.py', 'r') as filehandle:
    for line in filehandle:
        print(line, end='')

In [ ]:
# 73.  Write a Python program to swap two variables.

# def swap_var(a,b):
#     a,b = b,a
#     return a,b

# swap_var(10,20)

def swap_var(a,b):
    temp = a
    a = b
    b = temp
    return a,b

swap_var(10,20)

(20, 10)

In [ ]:
# 74. Write a Python program to get the Identity, Type, and Value of an object

a = [1,2,3]

print(a, type(a), id(a))

[1, 2, 3] <class 'list'> 140023825472512

In [ ]:
# 75. Write a Python program to convert a byte string to a list of integers.

name = b'imran'
k = list(name)

print(k)

l=0    
for i in k:
  l += i
print("total:",l)

[105, 109, 114, 97, 110]
total: 535

In [ ]:
# 76. Write a Python program to check whether a string is numeric.

# strg = "is this string numeric"
strg = "a123"

if strg.isnumeric:
    print(True)

True

In [ ]:
# 77. Write a Python program to get the system time.
import time
# dir(time)
print(time.ctime())

Mon Dec  5 09:32:50 2022

In [ ]:
# 78. Write a Python program to get the name of the host on which the routine is running.

import socket
host_name = socket.gethostname()
print("Host name:", host_name)

In [ ]:
# 79. Write a Python program to access and print a URL's content to the console.

from http.client import HTTPConnection

conn = HTTPConnection("example.com")

conn.request("GET", "/")

result = conn.getresponse()

contents = result.read()

print(contents)

b'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.</p>\n    <p><a href="https://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [ ]:
# 80. Write a Python program to check if a number is positive, negative or zero.

num = 15

if num > 0:
    print("positive")
elif n < 0:
    print("negative")
else:
    print("zero")

positive

In [ ]:
# 81. Write a Python program to get numbers divisible by fifteen from a list using an anonymous function.

lst = [15,16,25,30,35,45]

# k = lambda x: x/15

result = filter(lambda x: x % 15 == 0,lst)

print(list(result))

[15, 30, 45]

In [ ]:
# 82.  Write a Python program to remove the first item from a specified list.

lst = [15,16,25,30,35,45]

lst.remove(lst[0])

lst

[16, 25, 30, 35, 45]

In [ ]:
# 83. Write a Python program to input a number, if it is not a
# number generates an error message. 

while True:
    try:
        num = int(input("Enter a number: "))
        break
    except ValueError:
        print("This is not a number, Try again!")

Enter a number: sdfsd
This is not a number, Try again!
Enter a number: 2

In [ ]:
# 84. Write a Python program to filter the positive numbers from a list.

lst = [15,16,25,30,35,45, -88, -97, 36, 1, 56, -2, 6, -12, 28, -1, 0]

# for i in lst:   # Type 1
#     if i > 0:
#         print("Positive number is", i)
#     else:
#         print("Negative number is", i)


# result = list(filter(lambda x: x > 0, lst))   # Type 2

result = [ i for i in lst if i > 0 ]   # Type 3

print(result)

<map object at 0x7f59d66c9a90>

In [ ]:
# 85. Write a Python program to compute the product of a list of integers
# (without using for loop)
# NOTE: use reduce function

from functools import reduce
lst = [2,3,5,7]

result = reduce(lambda x,y: x*y, lst)
result

210

In [ ]:
# 86. Write a Python program to prove that two string variables of same value point same memory location

a = "imran"
b = "imran"


print(id(a) == id(b))

True

In [ ]:
# 87. Write a Python program to create a bytearray from a list.

lst = [1,2,3,4,5,9,6,7,8,9]

print(bytearray(lst))

bytearray(b'\x01\x02\x03\x04\x05\t\x06\x07\x08\t')

In [ ]:
# 88. Write a Python program to round a floating-point number to specified number decimal places

val = 1.03574989489988984

print("val of k with 4 decimal point %.4f" %val)

val of k with 4 decimal point 1.0357

In [ ]:
# 89. Write a Python program to format a specified string limiting the length of a string.

val = "imran abdul"

print("%.7s" %val)

imran a

In [ ]:
# 90. Write a Python program to determine whether variable is defined or not

try:
    print(P)
except NameError:
    print("P not defined")

P not defined

In [11]:
# 91. Write a Python program to empty a variable without destroying it

# Sample data: n=20
# d = {"x":200}
# Expected Output : 0
# {}

n=20
d = {"x":200}
i = "imran"
c = ["my", "name"]

print(type(n)())
print(type(d)())
print(type(i)())
print(type(c)())

0
{}

[]

In [16]:
# 92. Write a Python program to check whether multiple variables have the same value

a = 10
b = "hi"
c, d, e = 10, "hi", 16

print(a is c or b is d)

True

In [29]:
# 93.Write a Python program to sum of all counts in a collections.

import collections

num = [1,3,4,8,9,7,2,5,6,2,15,3,9,7,5,1,8,3,4,9,6]
num.sort()

print(collections.Counter(num))
print(collections.Counter(num).values())
print(sum(collections.Counter(num).values()))

Counter({3: 3, 9: 3, 1: 2, 2: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 15: 1})
dict_values([2, 2, 3, 2, 2, 2, 2, 2, 3, 1])
21
ChainMap(20)

In [33]:
# 94. Write a Python program to check whether lowercase letters exist in a string.

name = "Imran Abdul"

# z = list(map(lambda x: x.islower(), name))

z = [ i for i in name if i.islower()]

print(any(z))

True

In [37]:
# 95. Write a Python program to split a variable length string into variables

a = "imran abdul is my name"

k = str(len(a))

print(k)
type(k)

22

str

In [48]:
# 96. Write a Python program to take two user input integers in a single line

# x, y = map(int, input().split(","))


print(x,y)

12,3
12 3

In [69]:
# 97. Write a Python program to extract single key-value pair of a dictionary in variables.

data = { "imran": 23}

(name, rollno), = data.items()

print(name)
rollno

imran

23

In [71]:
# 98.Write a Python program to convert true to 1 and false to 0.

print(int(True))
print(int(False))

1
0

In [77]:
# 99. Write a Python function to find the maximum and minimum numbers from a sequence of numbers
# Note: Do not use built-in functions.

inpt = [10,6,3,5,66,9,15,9,7,63,4,3,8,1,5,6]

max = inpt[0]
min = inpt[0]

for i in inpt:
    if i > max:
        max = i

    if i < min:
        min = i

print(max)
print(min)

66
1

In [79]:
# 100. Write a Python function to check whether a number is divisible by another number.
# Accept two integers values form the user

def divi():
    a = int(input("Enter first value: "))
    b = int(input("Enter second value: "))

    if a % b == 0:
        print("divisible")
    else:
        print("not divisible")

divi()

Enter first value: 23
Enter second value: 22
not divisible

In [83]:
# 101.  Write a Python function that takes a positive integer
# and returns the sum of the cube of all the positive integers smaller
# than the specified number

def sum_ofcube(a):

    cube = 0
    while a > 0:
        cube += a ** 3
        a -= 1
    return cube


sum_ofcube(7)

784

In [85]:
# # 102. Write a Python function to check whether a distinct pair of numbers whose
# # product is odd present in a sequence of integer values.

# def pair_ofnums(a,b):
#     c = a * b

#     if c % 2 != 0:
#         if c in lst:
#             return True
#     return False

# lst = [256,142,132,157,120,15,148,236,25,103,38,97,]

# pair_ofnums(2,6)

False